body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

.pfp {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  margin: auto;
  border: solid 2px white;
  filter: drop-shadow(0 0 0.1rem rgb(0, 0, 0));
  z-index: 3 !important;
}

.card-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  text-align: center;
  margin-top: 20vh;
  line-height: 0px;
}

.card-container h2 {
  color: rgb(54, 54, 54);
}

.card-container p {
  max-width: 200px;
  line-height: 15px;
  font-size: 13px;
}

.card-container h4 {
  color: rgb(87, 87, 87);
}

.col-content {
  z-index: 20;
}

.card-container button {
  padding: 10px;
  width: 100px;
  margin: auto;
  border: none;
  border-radius: 50px;
  background-color: rgb(0, 110, 255);
  color: white;
  cursor: pointer;
  transition: 0.4s;
}

.card-container button:hover {
  background-color: rgb(3, 96, 217);
  scale: 0.98;
}

.col-1 {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 10px;
}

.flip-animation {
  animation: flip 2s forwards;
}

.flip-animation-back {
  animation: flipback 2s forwards;
}

@keyframes flip {
  from {
    transform: rotateX(90deg);
  }

  to {
    transform: rotateX(0deg);
  }
}

@keyframes flipback {
  from {
    transform: rotateX(90deg);
  }

  to {
    transform: rotateX(0deg);
  }
}